body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#search {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 90%;
}

#pointA,
#pointB {
  margin-right: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

#pointA input,
#pointB input,
#categories,
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  width: 150px;
}

#categories {
  flex-shrink: 0;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

html {
  scroll-behavior: smooth;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 600px) {
  #search {
    width: 90%; /* Ajusta el tamaño para pantallas pequeñas */
    flex-direction: column; /* Cambia la dirección del flexbox para apilar verticalmente los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  #pointA input,
  #pointB input,
  #categories,
  button {
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin-bottom: 10px; /* Agrega espacio entre los elementos */
  }
}
